<div class="p-1">
  <mat-card class="mb-6">
    <!-- Tabs Navigation -->
    <div class="flex border-b">
      <button
        mat-button
        class="flex-1 py-3"
        [ngClass]="{
          'text-blue-500 border-b-2 border-blue-500': activeTab === 'profile'
        }"
        (click)="setActiveTab('profile')"
      >
        Profile
      </button>
      <button
        mat-button
        class="flex-1 py-3"
        [ngClass]="{
          'text-blue-500 border-b-2 border-blue-500': activeTab === 'profile'
        }"
        (click)="setActiveTab('policies')"
      >
        Policies
      </button>
      <button
        mat-button
        class="flex-1 py-3"
        [ngClass]="{
          'text-blue-500 border-b-2 border-blue-500': activeTab === 'shipping'
        }"
        (click)="setActiveTab('shipping')"
      >
        Shipping
      </button>
      <button
        mat-button
        class="flex-1 py-3"
        [ngClass]="{
          'text-blue-500 border-b-2 border-blue-500': activeTab === 'payments'
        }"
        (click)="setActiveTab('payments')"
      >
        Payments
      </button>
    </div>

    <!-- Profile Tab Content -->
    <div *ngIf="activeTab === 'profile'" class="p-1">
      <div class="grid grid-cols-1 gap-6">
        <app-profile-info />
      </div>
    </div>

    <!-- Policies Tab Content -->
    <div *ngIf="activeTab === 'policies'" class="p-1">
      <app-policies />
    </div>

    <!-- Shipping Tab Content -->
    <div *ngIf="activeTab === 'shipping'" class="p-1">
      <app-deliveries></app-deliveries>
    </div>

    <!-- Payments Tab Content -->
    <div *ngIf="activeTab === 'payments'" class="p-1">
      <app-payment />
    </div>
  </mat-card>
</div>
