<div class="forgot-password-container">
  <form
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmit()"
    class="forgot-password-form"
  >
    <h4 class="text-2xl font-bold text-center">Forgot Password</h4>
    <p class="text-sm text-gray-500">
      Enter your website address and we'll send you a link to reset your
      password.
    </p>

    <div class="form-group">
      <label for="email">Website URL</label>
      <input
        type="text"
        id="url"
        formControlName="url"
        placeholder="Enter your website url"
        [disabled]="isLoading"
      />
      <div
        *ngIf="
          forgotPasswordForm.get('url')?.invalid &&
          forgotPasswordForm.get('url')?.touched
        "
        class="error-message"
      >
        <span *ngIf="forgotPasswordForm.get('ul')?.errors?.['required']"
          >Website URL is required</span
        >
      </div>
    </div>

    <!-- Show button only if request hasn't succeeded -->
    <button
      *ngIf="!requestSuccessful"
      type="submit"
      [disabled]="forgotPasswordForm.invalid || isLoading"
      class="relative"
    >
      <span *ngIf="!isLoading">Reset Password</span>
      <div *ngIf="isLoading" class="flex items-center justify-center">
        <mat-spinner [diameter]="24" class="mr-2"></mat-spinner>
        <span>Processing...</span>
      </div>
    </button>

    <!-- Success Message -->
    <div
      *ngIf="successMessage"
      class="success-message p-4 bg-green-100 text-green-700 rounded"
    >
      <mat-icon class="align-middle mr-2">check_circle</mat-icon>
      {{ successMessage }}
    </div>

    <!-- Error Message -->
    <div
      *ngIf="errorMessage"
      class="error-message p-4 bg-red-100 text-red-700 rounded"
    >
      <mat-icon class="align-middle mr-2">error</mat-icon>
      {{ errorMessage }}
    </div>

    <div class="login-link mt-4">
      <a routerLink="/login" class="text-blue-600 hover:text-blue-800"
        >Back to Login</a
      >
    </div>
  </form>
</div>
